@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full p-2 bg-gray-700 text-white rounded-lg;
  }
  
  .btn {
    @apply p-2 bg-blue-600 text-white rounded-lg;
  }
  
  .btn-primary {
    @apply bg-blue-500 hover:bg-blue-700;
  }